
  <form (ngSumit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
    <div class="form-group">
    <h1 class="h3 mb-3 fw-normal">Conecte-se</h1>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        formControlName="email"
        required
      />
      <div *ngIf="email.invalid && formDir.submitted">
        <p *ngIf="email.errors?.['required']">Obrigatório</p>
      </div>
    </div>
    <div class="form-group">
      <label for="floatingPassword">Password</label>
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
    </div>

    <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me"/> Remember me </label>
    </div>
    <input class="w-100 btn btn-lg btn-primary" type="submit" value="{{ btnEnviar }}"/>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </div>
  </form>

